.ds-c-footer {
  margin: 20px 0;
  text-align: center;
  font-size: 1rem;
}

.ds-c-footer .ds-l-social-icons {
  margin-bottom: 20px;
}

.ds-c-footer .ds-l-social-icon {
  width: 24px;
  margin: 0 5px;
  filter: grayscale(100%);
  transition: filter 0.5s;
}

.ds-c-footer .ds-l-social-icon img {
  width: 100%;
}

.ds-c-footer .ds-l-social-icon:hover {
  filter: none;
}
