input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.ds-c-home__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ds-c-home__avatar {
  width: 50vw;
  max-width: 200px;
  border-radius: 0 50% 0 50%;
  flex-shrink: 0;
}

.ds-c-home__avatar-full {
  display: none;
}

p.ds-c-home__intro-text {
  text-align: center;
  margin-left: 5vw;
  margin-right: 0;
}

.ds-c-home__contact {
  text-align: center;
  margin: 30px;
  margin-bottom: 0;
}

.ds-c-home__contact-link {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-contact-link-foreground);
  background-color: var(--color-contact-link-background);
  width: 70vw;
  max-width: 250px;
  padding: 10px;
  border-radius: 0 22px 0 22px;
  border: 1px solid var(--color-contact-link-border);
  transition: color 0.25s, background-color 0.25s, border-color 0.25s;
}

.ds-c-home__contact-link:hover {
  border-color: var(--color-contact-link-border-hover);
  color: var(--color-contact-link-foreground-hover);
  background-color: transparent;
}

@media (min-height: 840px), (orientation: portrait) {
  .ds-c-home__intro {
    flex-direction: column;
  }
  p.ds-c-home__intro-text {
    text-align: center;
    margin-left: 0;
  }
}

@media (min-height: 1200px) and (min-width: 1200px) {
  .ds-c-home__avatar {
    display: none;
  }

  .ds-c-home__avatar-full {
    display: block;
    width: 100%;
    border-radius: 0 min(5vw, 30px) 0 min(5vw, 30px);
  }
}
