.ds-nav {
  display: flex;
  margin: min(15vw, 90px) 10vw 0 10vw;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ds-nav__item {
  line-height: 30px;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-nav-item-foreground);
  background-color: var(--color-nav-item-background);
  min-width: 50vw;
  margin: 2px;
  padding: 0px 5px;
  border: 1px solid transparent;
  border-radius: 0 16px 0 16px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.25s, background-color 0.25s, border-color 0.25s;
}

.ds-nav__item:nth-child(2) {
  align-self: flex-start;
}

.ds-nav__item:last-child {
  align-self: flex-end;
}

.ds-nav__item:hover {
  color: var(--color-nav-item-foreground-hover);
  background-color: transparent;
  border-color: var(--orange);
}

@media (min-width: 440px) {
  .ds-nav {
    flex-direction: row;
    justify-content: flex-end;
    margin-left: calc(env(safe-area-inset-left) + min(50px, 10vw));
    margin-right: max(env(safe-area-inset-right), 5vw);

    /* In case one increase the font-size in the browser */
    flex-wrap: wrap;
  }
  .ds-nav__item {
    min-width: auto;
    border-radius: 0;
  }

  .ds-nav__item:nth-child(2) {
    border-bottom-left-radius: 16px;
  }

  .ds-nav__item:last-child {
    border-top-right-radius: 16px;
  }
}

@media (min-width: 600px) {
  .ds-nav__item {
    font-size: 1rem;
    padding: 5px 15px;
  }

  .ds-nav__item:nth-child(2) {
    border-bottom-left-radius: 21px;
    padding-left: 20px;
  }

  .ds-nav__item:last-child {
    border-top-right-radius: 21px;
    padding-right: 20px;
  }
}

@media (min-width: 600px) and (min-height: 600px) {
  .ds-nav {
    margin-left: calc(env(safe-area-inset-left) + 100px);
    margin-top: 130px;
  }
}

@media (min-width: 1200px) {
  .ds-nav {
    justify-content: center;
  }
}
