.ds-home-link,
.ds-name-header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100vw / 3.4);
  max-height: 300px;
  overflow-x: hidden;
}

.ds-home-link {
  height: 200px;
}

.ds-name-header__image {
  width: 560vw;
  transform: translateX(-13vw) translateY(-10vw);
  transform: translateX(calc(env(safe-area-inset-left) - 13vw)) translateY(-10vw);
}

@media (min-width: 600px) {
  .ds-name-header {
    height: 300px;
  }
  .ds-name-header__image {
    height: 100%;
    width: auto;
    transform: translateX(-40px) translateY(0px);
    transform: translateX(calc(env(safe-area-inset-left) - 40px)) translateY(0px);
  }
}
