AddType text/html .shtml
AddHandler server-parsed .html
AddHandler server-parsed .shtml
Options Indexes FollowSymLinks Includes

DirectoryIndex home.html

RewriteEngine on

RewriteRule ^home/?$  /home.html [L]
RewriteRule ^about-me/?$  /about-me.html [L]
RewriteRule ^links/?$  /links.html [L]
RewriteRule ^contact/?$  /contact.html [L]
RewriteRule ^impressum/?$  /impressum.html [L]
